<div class="filter-box">
  <div class="row padding-top-10">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <span class="pull-left bold-font">{{'Dates' | lang}}</span>
      <span class="pull-right"><i class="fas fa-calendar"></i></span>
    </div>
  </div>

  <div *ngFor="let ele of datesList" class="row padding-top-10">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="pretty p-icon p-smooth">
        <input name="DateOptions" type="checkbox" [attr.id]="'check_'+ele.id" [checked]="ele.selected" (click)="ChangeSelection(ele)"/>
        <div class="state p-success">
          <i class="icon glyphicon glyphicon-ok"></i>
          <label>{{ele.text | lang}}</label>
        </div>
      </div>
    </div>
  </div>




  <div class="row padding-top-10">
    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
      <label>{{'FromDate' | lang}}</label>
      <app-pick-date (dateChanged)="dateChanged($event)" [(ngModel)]="StartDate" [options]="dateOption"></app-pick-date>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
      <label>{{'ToDate' | lang}}</label>
      <app-pick-date (dateChanged)="dateChanged($event)" [(ngModel)]="EndDate" [options]="dateOption"></app-pick-date>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
      <button (click)="ApplySearchByDates()"  class="btn btn-default btn-block">{{'Search' | lang}}</button>
    </div>
  </div>
</div>


