<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2 no-padding ">
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10 no-padding">
    <h2 class="setting-tabs-title">{{'AccountSettings' | lang}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2 no-padding ">
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10 no-padding">
    <app-account-settings-top-tab [activeTab]="2"></app-account-settings-top-tab>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2 no-padding">
    <app-vertical-tab-settings [activeTab]="4"></app-vertical-tab-settings>
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10 no-padding">
    <div class="tabcontent">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <label>{{'oldPassword' | lang}}</label>
          <input type="password" class="form-control" schemaPath=".oldPassword" [(ngModel)]="data.oldPassword">
        </div>
      </div>

      <div class="row top-margin">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <label>{{'password' | lang}}</label>
          <input type="password" class="form-control" schemaPath=".password"
                 [(ngModel)]="data.password">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <label>{{'passwordConfirm' | lang}}</label>
          <input type="password" class="form-control" schemaPath=".passwordConfirm" [(ngModel)]="data.passwordConfirm">
        </div>
      </div>


      <div class="row top-margin">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <button type="submit" class="btn btn-default btn-block" (click)="onSubmit()">{{'submit' | lang}}</button>
        </div>
      </div>

    </div>

  </div>
</div>

