<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <input type="image"
           [src]="eventTemplate.CoverImage | safeHtml"
           class="img-thumbnail img-thumbnail-management " (click)="fileInput.click()" #img alt="Cover image">

  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h4>{{'opacity' | lang}}</h4>
    <div class="slideContainer">
      <input type="range" min="0" max="10" [(ngModel)]="eventTemplate.CoverImageOpacity" class="slider" id="myRange"
             (change)="rangeChange($event)">
    </div>
    <span class="btn btn-default btn-file btn-block">
    <input type="file" accept="image/*" #fileInput (change)="fileChangeEvent($event,false)">{{'uploadCover' | lang}}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h4>{{'logo' | lang}}</h4>
    <span class="btn btn-default btn-file btn-block">
    <input type="file" accept="image/*" (change)="fileChangeEvent($event, true)">{{'uploadLogo' | lang}}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <button type="submit" class="btn btn-default pull-right btn-block" (click)="submit()">{{'submit' | lang}}</button>
  </div>
</div>
