<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2 no-padding ">
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10 no-padding">
    <h2 class="setting-tabs-title">{{'AccountSettings' | lang}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2 no-padding ">
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10 no-padding">
    <app-account-settings-top-tab [activeTab]="3"></app-account-settings-top-tab>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2 no-padding">
    <app-vertical-tab-settings [activeTab]="4"></app-vertical-tab-settings>
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10 no-padding">
    <div class="tabcontent">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p>{{'not1' | lang}}</p>
          <div class="pretty p-icon p-smooth">
            <input type="checkbox" />
            <div class="state p-success">
              <i class="icon glyphicon glyphicon-ok"></i>
              <label>{{'not1de' | lang}}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p>{{'not1' | lang}}</p>
          <div class="pretty p-icon p-smooth">
            <input type="checkbox" checked />
            <div class="state p-success">
              <i class="icon glyphicon glyphicon-ok"></i>
              <label>{{'not1de' | lang}}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p>{{'not1' | lang}}</p>
          <div class="pretty p-icon p-smooth">
            <input type="checkbox" />
            <div class="state p-success">
              <i class="icon glyphicon glyphicon-ok"></i>
              <label>{{'not1de' | lang}}</label>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
