<div class="management-dialog event-sponsors">
  <div class="management-dialog-title">{{'Sponsers' | lang}}
    <span (click)="hide()" class="management-dialog-title-arrow"><i class="fas fa-arrow-right"></i></span>
  </div>
  <div class="row management-form">
    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
          <label>{{'textTest' | lang}}</label>
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
          <label>{{'textTest' | lang}}</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
          <label>{{'textTest' | lang}}</label>
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
  </div>
</div>
